[Scheme]
Name=Base24 {{scheme-name}}
ColorCursor=#{{base05-hex}}
ColorForeground=#{{base05-hex}}
ColorBackground=#{{base00-hex}}
TabActivityColor=#{{base01-hex}};#{{base08-hex}};#{{base0B-hex}};#{{base09-hex}};#{{base0D-hex}};#{{base0E-hex}};#{{base0C-hex}};#{{base06-hex}};#{{base02-hex}};#{{base12-hex}};#{{base14-hex}};#{{base13-hex}};#{{base16-hex}};#{{base17-hex}};#{{base15-hex}};#{{base07-hex}}
ColorBold=#{{base05-hex}}
ColorBoldUseDefault=FALSE
